spring:
  datasource:
    url: "{{ app1.db.url }}"
    username: "{{ app1.db.user }}"
    password: "{{ app1.db.user_password }}"
    driverClassName: "{{ app1.db.driver }}"
  jpa:
    database: "MYSQL"
    show-sql: "true"
    hibernate:
      ddl-auto: "update"
      dialect: "org.hibernate.dialect.MySQL5Dialect"
  data:
    elasticsearch:
      cluster-nodes: "{{ index.alias }}:{{ index.ports.tcp }}"
      cluster-name: "{{ index.cluster.name }}"

logging:
  file: "{{ logging.file}}"

management:
  port: "{{ app1.management.port }}"
